//Intro Section

.IntroSection{
    width: 100vw;
    // max-width: 1440px;
    height: 700px;
    background-color: aquamarine;
    margin: 0px auto;
    background-image: url('../public/images/annie-spratt-hrqMHFKC6g8-unsplash.jpg');
    background-position: center;
    background-size: cover;
    transform: scaleX(-1) !important;
}

.Overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, black, transparent);
    transform: scaleX(-1) !important;
    color: white;

}

.sideNav{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
    height: calc(100% - 60px);
    div{
        display: flex;
        flex-direction: column;
    }
    span{
        height: 230px;
        border: 2px solid rgb(34, 34, 34);
    }
}

.main{
    display: flex;
    height: calc(100% - 60px);
}

.About{
    height:calc(100% - 60px);
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.2em;
        color: rgb(211, 211, 211);
    }

    button{
        width: 120px;
        height: 40px;
        border: 3px double #ff9e0d;
        background: none;
        font-size: 18px;
        color: #ff9e0d;
        margin: 20px 0px;
        cursor: pointer;
    }
}

.Icons{
    li{
        width: 30px;
        background-repeat: no-repeat;
        height: 55px;
        background-position: center;
        background-size: contain;
    }
}

.twitter{
    background-image: url("../public/icons/icons8-twitter.svg");
}
.facebook{
    background-image: url("../public/icons/icons8-facebook.svg");
}
.instagram{
    background-image: url("../public/icons/icons8-instagram-old.svg");
}
.linkedIn{
    background-image: url("../public/icons/icons8-linkedin.svg");
}

//ServiceSection

.Services{
    width: 100vw;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ServiceContainer{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.ServiceCard{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}





//MyWorks Section

.MyWorks{
    width: 100vw;
    height: auto;
    position: relative;
}

.Slider{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;

}

.images{
    width: auto;
    height: 100%;
}

.LeftButton{
    position: absolute;
    top: calc(50% - 100px);
    left: 0px;
    border-right: 25px solid #ff9e0d;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.RightButton{
    position: absolute;
    top: calc(50% - 100px);
    right: 0px;
    border-left: 25px solid #ff9e0d;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.AboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 700px;
}

.AboutContainer{
    width: 100%;
    height: 80%;
    background-color: #e3e3e3;
}

// Prices Section

.Prices{
    display: flex;
    width: 100vw;
    height: 600px;
    justify-content: space-around;
    align-items: center;
}

.PriceBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 400px;
    margin: 40px;
    background-color: rgb(218, 218, 218);
    padding: 20px;
}

.checkboxes{
    div{
        display: flex;
    }
}