.IntroSection {
  width: 100vw;
  height: 700px;
  background-color: aquamarine;
  margin: 0px auto;
  background-image: url("../public/images/annie-spratt-hrqMHFKC6g8-unsplash.jpg");
  background-position: center;
  background-size: cover;
  transform: scaleX(-1) !important;
}

.Overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, black, transparent);
  transform: scaleX(-1) !important;
  color: white;
}

.sideNav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 10%;
  height: calc(100% - 60px);
}
.sideNav div {
  display: flex;
  flex-direction: column;
}
.sideNav span {
  height: 230px;
  border: 2px solid #222222;
}

.main {
  display: flex;
  height: calc(100% - 60px);
  width: 100vw;
}

.About {
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.About h1 {
  font-size: 3rem;
}
.About p {
  font-size: 1.2em;
  color: lightgray;
}
.About button {
  width: 120px;
  height: 40px;
  border: 3px double #ff9e0d;
  background: none;
  font-size: 18px;
  color: #ff9e0d;
  margin: 20px 0px;
  cursor: pointer;
}

.Icons li {
  width: 30px;
  background-repeat: no-repeat;
  height: 55px;
  background-position: center;
  background-size: contain;
}

.twitter {
  background-image: url("../public/icons/icons8-twitter.svg");
}

.facebook {
  background-image: url("../public/icons/icons8-facebook.svg");
}

.instagram {
  background-image: url("../public/icons/icons8-instagram-old.svg");
}

.linkedIn {
  background-image: url("../public/icons/icons8-linkedin.svg");
}

.Services {
  width: 100vw;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ServiceContainer {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.ServiceCard {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.MyWorks {
  width: 100vw;
  height: auto;
  position: relative;
}

.AboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 700px;
}

.AboutContainer {
  width: 100%;
  height: 80%;
  background-color: #e3e3e3;
}

.Pricing {
  width: 100vw;
}

.Prices {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.PriceBox {
  flex: 1;
  margin: 40px;
  width: 300px;
  max-width: 300px;
  height: 400px;
  line-height: 1.4em;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c7c7c7;
}

.checkboxes {
  padding: 20px 0px;
}
.checkboxes div {
  display: flex;
}

.Contact {
  background-image: url("../public/images/kenny-sexton-2fIxy1Z--OY-unsplash.jpg");
  background-position: center;
  background-size: cover;
  padding: 20px 0px;
  color: white;
  width: 100vw;
}

.SendMessage {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SendMessage input {
  width: 80%;
  max-width: 500px;
  margin: 20px;
  padding: 5px;
}
.SendMessage button {
  width: 80%;
  max-width: 500px;
  height: 40px;
  border: none;
  background-color: #ff9e0d;
  color: white;
  font-weight: 600;
}

.Footer {
  min-height: 150px;
  background-color: #181818;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  width: 100vw;
}
.Footer footer {
  text-align: center;
}
.Footer .Icons {
  flex-wrap: wrap;
}

.Footer > div, .Footer > footer {
  flex: 1;
}

@media screen and (max-width: 720px) {
  .main {
    flex-direction: column-reverse;
  }

  .sideNav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: calc(100% - 60px);
  }
  .sideNav div {
    display: flex;
    flex-direction: row;
  }
  .sideNav span {
    display: none;
  }
}/*# sourceMappingURL=Home.module.css.map */